#container {
	display: grid;
	grid-template-rows: repeat(6, 100px);
	grid-template-columns: repeat(5, 180px);
	background: darkgray;
	margin: 0 auto;
	width: 900px;
	height: 600px;
}

.buttonsContainer {
	background: green;
	margin: 15px;
	font-size: 25px;
	font-weight: 700;
}



